{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h2 style="margin-top: 20px">Регистрация</h2>
    <div>
        {{ form(form) }}
    </div>
{% endblock %}